<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.gix.cs3218tut" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.gix.cs3218tut.CalculatorActivity"
            android:label="@string/calculator_app_name"
            android:parentActivityName="org.gix.cs3218tut.MainActivity" >
        </activity>
        <activity
            android:name="org.gix.cs3218tut.GraphActivity"
            android:label="@string/graph_app_name"
            android:parentActivityName="org.gix.cs3218tut.MainActivity" >
        </activity>
    </application>

</manifest>
